RewriteEngine On

# Check if the request is not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to add .php extension
RewriteRule ^([^/]+)/?$ $1.php [NC,L]
